<!DOCTYPE html>
<html>
<head><title>Header</title></head>
<body>
<main>
  <div>
    <p><a href="/"><img src="https://www.scholastic.com/content/dam/enterprise/asset.jpg/scholastic-logo-red-bar-white-outline.svg" alt="Scholastic">Scholastic</a></p>
  </div>
  <div>
    <ul>
      <li>
        <p><a href="https://shop.scholastic.com/parent-ecommerce/parent-store.html">Shop</a></p>
      </li>
      <li>
        <p><a href="https://clubs.scholastic.com/">Book Clubs</a></p>
      </li>
      <li>
        <p><a href="https://bookfairs.scholastic.com/content/fairs/home.html">Book Fairs</a></p>
      </li>
      <li>
        <p><a href="https://education.scholastic.com/educationsolutions/home.html">Education</a></p>
      </li>
      <li>
        <p><a href="https://classroommagazines.scholastic.com/">Magazines</a></p>
      </li>
      <li>
        <p><a href="https://tradecatalog.scholastic.com/">Trade</a></p>
      </li>
    </ul>
  </div>
  <div>
    <p><a href="/tools/widgets/toggle"><span class="icon icon-user"></span>Sign In</a></p>
  </div>
</main>
</body>
</html>
